<!DOCTYPE html>
<html>
  <head>
    <title>CheckId</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

   <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
-->
    <title>Hello, world!</title>
  </head>

  <body>

    <header>
      <nav>
          <% if user_signed_in? %> 
            ログインしているユーザー： <strong><%= current_user.user_id %></strong>.<br><br>
            <%= link_to 'プロフィール変更', edit_user_registration_path %> |
            <%= link_to "ログアウト", sign_out_path %>
        </p>
          <% else %>
            <%= link_to "サインイン", new_user_registration_path %> |
            <%= link_to "ログイン", new_user_session_path %>
          <% end %>
      </nav>
  </header>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
